---
import { books } from "@/data/books";
import PageLayout from "@/layouts/Base.astro";

export async function getStaticPaths() {
    return books.map((book) => ({
        params: { id: String(book.id) },
    }));
}

const { id } = Astro.params;
const book = books.find((book) => String(book.id) === id);

if (!book) {
    throw new Error(`El libro con ID ${id} no fue encontrado.`);
}

const meta = {
    title: book.title,
    description: book.description,
};
---

<PageLayout meta={meta}>
    <div
        class="flex flex-col lg:flex-row items-center lg:items-start gap-8 py-8"
    >
        <img
            src={book.cover}
            alt={book.title}
            class="w-80 h-auto rounded-xl shadow-lg"
        />
        <div>
            <h1 class="text-3xl font-bold mb-4">{book.title}</h1>
            <p class="text-lg mb-6">{book.description}</p>
            <a
                href={book.link}
                target="_blank"
                class="relative flex items-center justify-center h-8 px-4 rounded-lg shadow-lg hover:brightness-110 transition-all bg-gradient-to-r from-accent-one to-accent-two"
            >
                <span class="text-bgColor font-semibold"> ¡Leer! </span>
            </a>
        </div>
    </div>
</PageLayout>
