---
import { getCollection } from "astro:content";

const posts = (await getCollection('blog')).sort(
	(b, a) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
).slice(0,6);
---

{
    posts.length > 0 && (
        <>
            <h2 class="text-4xl font-bold text-gray-800 sm:text-5xl dark:text-white">🗞️ Noticias</h2>
            <section class="flex flex-wrap items-start justify-center mt-16">
                {posts.slice(0, 6).map(
                    ({ slug, data: {description, title, heroImage, tags} }) => (
                        <div class="max-w-sm rounded overflow-hidden shadow-lg m-4">
                            <a href={`blog/${slug}`}>
                                <img
                                    class="w-full"
                                    src={heroImage}
                                    alt={title}
                                />
                            </a>
                            <div class="px-6 py-4">
                                <div class="font-bold text-xl mb-2">
                                    {title}
                                </div>
                                <p class="text-gray-700 text-base text-left">
                                    {description.length > 150 ? description.slice(0, 150)+'...' : description}
                                </p>
                            </div>
                            {tags && tags.length > 0 && (
                                <div class="px-6 pb-2">
                                {tags.map(
                                    ({ name, bgColorHex, fontColorHex }) => (
                                        <span
                                            style={`background-color: ${bgColorHex}; color: ${fontColorHex};`}
                                            class="inline-block rounded-full px-3 py-1 text-sm font-semibold mr-2 mb-2"
                                        >
                                            {name}
                                        </span>
                                    ),
                                )}
                            </div>
                            )}
                        </div>
                    ),
                )}
            </section>
        </>
    )
}