---
import { PROJECTS } from "../consts";
---

<h2>&#128640; Proyectos</h2>
<section class="flex flex-wrap items-start justify-center">
    {
        PROJECTS.map(({ id, title, description, url, tags }) => (
            <div class="max-w-sm rounded overflow-hidden shadow-lg m-4">
                <a href={url} target="_blank">
                    <img
                        class="w-full"
                        src="/img/blog/blog-placeholder-1.jpg"
                        alt="Sunset in the mountains"
                    />
                </a>
                <div class="px-6 py-4">
                    <div class="font-bold text-xl mb-2">{title}</div>
                    <p class="text-gray-700 text-base text-left">
                        {description}
                    </p>
                </div>
                <div class="px-6 pb-2">
                    {tags.map(({name, bgColorHex, fontColorHex}) => (
                        <span style={`background-color: ${bgColorHex}; color: ${fontColorHex};`} class="inline-block rounded-full px-3 py-1 text-sm font-semibold mr-2 mb-2">
                            {name}
                        </span>
                    ))}
                </div>
            </div>
        ))
    }
</section>
