---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import FormattedDate from "../components/FormattedDate.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<html lang="es">
	<head>
		<BaseHead title={title} description={description} image={heroImage} />
		<style>
			main {
				width: calc(100% - 2em);
			}
			.hero-image img {
				box-shadow: var(--box-shadow);
			}
			.prose {
				max-width: calc(100% - 2em);
			}
		</style>
	</head>

	<body>
		<Header />
		<main class="w-3/4 max-w-max">
			<article>
				<div class="hero-image w-auto">
					{
						heroImage && (
							<img
								class="block rounded-lg mx-auto"
								width={800}
								src={heroImage}
								alt={title}
							/>
						)
					}
				</div>
				<div class="prose w-[720px] sm:max-w-full mx-auto px-4 py-4 text-gray-800">
					<div class="mb-4 py-4 text-center leading-tight">
						<div class="date mb-2 text-gray-600">
							<FormattedDate date={pubDate} />
							{
								updatedDate && (
									<div class="italic">
										Last updated on{" "}
										<FormattedDate date={updatedDate} />
									</div>
								)
							}
						</div>
						<h1 class="my-0 mb-6 text-[42px]">{title}</h1>
						<hr />
					</div>
					<slot />
				</div>
			</article>
		</main>
		<Footer />
	</body>
</html>
